.header {
  display: flex;
  width: 100%;
  background-color: #d6b88d;
}

.header-left {
  background-color: #a8744a;
  padding: 15px 35px;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 35px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  font-family: 'Dancing Script', cursive;
}

.nav a {
  margin: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav a:hover {
  color: #a8744a;
}

.auth-buttons {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.signup-btn {
  background-color: #4CAF50;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.login-btn {
  background-color: #008CBA;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.signup-btn:hover, .login-btn:hover {
  opacity: 0.8;
}

.auth-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 25px;
}

.username {
  font-weight: bold;
  color: #5a2e0a;
  font-size: 16px;
  padding: 8px 16px;
  /* background-color: #f5e1c4; */
  border-radius: 20px;
  white-space: nowrap;
}

.logout-btn {
  background-color: #dc3545;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.85;
}

/* AKTIF BAR */
.nav-link {
  margin: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #a8744a;
}

/* Aktif ketika halaman sedang di situ */
.nav-link.active {
  color: #5a2e0a;
  border-bottom: 3px solid #fff;
  padding-bottom: 3px;
}
